{
    margin: 0;
    padding: 0;
    }
    
    .layout {
      display: flex;
      flex-direction: column;
      max-width: 70%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 48px;
    }
    
    .movie-container {
      display: flex;
      justify-content:space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 48px;
      gap: 48px;
    }
    
    .container-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: white;
      
    }
    
    .container-header header {
      font-size: 1.5rem;
    }